<div class="container">
    <h1 class="mt-3 text-center">TASKS</h1>
    <div class="my-5">
        <div class="row align-items-strech">
            <ng-container *ngIf="task$ | async as tasks">
                <div class="col-12 col-md-4 mb-3" *ngFor="let task of tasks">
                    <div class="card h-100">
                        
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">
                                {{task.title}}
                            </h5>
                            <p class="card-text">
                                {{task.description}}
                            </p>
                            <!-- <span class="d-flex align-items-end" style="flex: 1;">
                                <a [routerLink]="['/blog',blog.urlHandle]" class="btn btn-primary">
                                Read More
                                </a>
                            </span> -->
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
